=render "shared/tip"

%a.btn.btn-primary(type="button" data-toggle="modal" data-target="#add_questions")
  %i.glyphicon.glyphicon-plus
  添加考题
= render 'add_question'
%hr
%table.table.table-hover
  %thead
    %tr
      %th 序号
      %th 考期
      %th 科目
      %th SECTION
      %th 操作
  %tbody
    -@questions.each do |question|
      %tr
        %td= question.id
        %td= ExamDate.fetch_date(question.exam_date_id)
        %td= LibSubject.fetch_name(question.subject_id)
        %td= question.section
        %td
          %a.btn.btn-primary.btn-sm(href="#" data-target="#edit_questions#{question.id}" data-toggle="modal")
            %i.glyphicon.glyphicon-pencil
            编辑
          %a.btn.btn-danger.btn-sm(href="#" data-target="#delete_questions#{question.id}" data-toggle="modal")
            %i.glyphicon.glyphicon-trash
            删除

          .modal.fade(id="edit_questions#{question.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            .modal-dialog
              .modal-content(class="edit_questions#{question.id}")
                =form_tag("/question_manage/update_question?question_id=#{question.id}",:method=>'post',:class=>"form-horizontal") do
                  .modal-header
                    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times
                    %h4(class="modal-title" id="myModalLabel") 添加
                  .modal-body
                    .form-group
                      %label.col-sm-2.control-label 选择考期
                      .col-sm-10
                        = select_tag "exam_date_id", options_for_select([""]+@exam_date,question.exam_date_id), :class=>"form-control"
                    .form-group
                      %label.col-sm-2.control-label 科目
                      .col-sm-10
                        = select_tag "subject_id", options_for_select([""]+@subjects, question.subject_id), :class=>"form-control", :onchange=>"select_section('edit_questions#{question.id}', #{@subject_section})"
                    .form-group
                      %label.col-sm-2.control-label SECTION
                      .col-sm-10
                        = select_tag "section", options_for_select([question.section]), :class=>"form-control"
                    .form-group
                      %label.col-sm-2.control-label 题目
                      .col-sm-10
                        %textarea.form-control(rows="3" name="question")=question.question
                    .form-group
                      %label.col-sm-2.control-label 答案A
                      .col-sm-6
                        %input.form-control(name="answer_A" value="#{question.sat_answer_banks.find_by(:tag=>"A").answer}")
                      .col-sm-3
                        .radio
                          %label(class="#{question.sat_answer_banks.find_by(:tag=>"A").is_right_answer ? 'label-select label-primary' : 'label-gray.label-unselect'}")
                            -if question.sat_answer_banks.find_by(:tag=>"A").is_right_answer
                              %input(type="radio" name="right_answer" onclick="select_radio(this)" value="A" checked)
                            -else
                              %input(type="radio" name="right_answer" onclick="select_radio(this)" value="A")
                            %span 设为正确答案
                    .form-group
                      %label.col-sm-2.control-label 答案B
                      .col-sm-6
                        %input.form-control(name="answer_B"  value="#{question.sat_answer_banks.find_by(:tag=>"B").answer}")
                      .col-sm-3
                        .radio
                          %label(class="#{question.sat_answer_banks.find_by(:tag=>"B").is_right_answer ? 'label-select label-primary' : 'label-gray.label-unselect'}")
                            -if question.sat_answer_banks.find_by(:tag=>"B").is_right_answer
                              %input(type="radio" name="right_answer" onclick="select_radio(this)" value="B" checked)
                            -else
                              %input(type="radio" name="right_answer" onclick="select_radio(this)" value="B")
                            %span 设为正确答案
                    .form-group
                      %label.col-sm-2.control-label 答案C
                      .col-sm-6
                        %input.form-control(name="answer_C"  value="#{question.sat_answer_banks.find_by(:tag=>"C").answer}")
                      .col-sm-3
                        .radio
                          %label(class="#{question.sat_answer_banks.find_by(:tag=>"C").is_right_answer ? 'label-select label-primary' : 'label-gray.label-unselect'}")
                            -if question.sat_answer_banks.find_by(:tag=>"C").is_right_answer
                              %input(type="radio" name="right_answer" onclick="select_radio(this)" value="C" checked)
                            -else
                              %input(type="radio" name="right_answer" onclick="select_radio(this)" value="C")
                            %span 设为正确答案
                    .form-group
                      %label.col-sm-2.control-label 答案D
                      .col-sm-6
                        %input.form-control(name="answer_D"  value="#{question.sat_answer_banks.find_by(:tag=>"D").answer}")
                      .col-sm-3
                        .radio
                          %label(class="#{question.sat_answer_banks.find_by(:tag=>"D").is_right_answer ? 'label-select label-primary' : 'label-gray.label-unselect'}")
                            -if question.sat_answer_banks.find_by(:tag=>"D").is_right_answer
                              %input(type="radio" name="right_answer" onclick="select_radio(this)" value="D" checked)
                            -else
                              %input(type="radio" name="right_answer" onclick="select_radio(this)" value="D")
                            %span 设为正确答案
                    .form-group
                      %label.col-sm-2.control-label 答案E
                      .col-sm-6
                        %input.form-control(name="answer_E"  value="#{question.sat_answer_banks.find_by(:tag=>"E").answer}")
                      .col-sm-3
                        .radio
                          %label(class="#{question.sat_answer_banks.find_by(:tag=>"E").is_right_answer ? 'label-select label-primary' : 'label-gray.label-unselect'}")
                            -if question.sat_answer_banks.find_by(:tag=>"E").is_right_answer
                              %input(type="radio" name="right_answer" onclick="select_radio(this)" value="E" checked)
                            -else
                              %input(type="radio" name="right_answer" onclick="select_radio(this)" value="E")
                            %span 设为正确答案
                  .modal-footer
                    %button.btn.btn-primary.btn-lg(type="submit")
                      %i.glyphicon.glyphicon-floppy-open
                      保存
                    %a.btn.btn-default.btn-lg(data-dismiss="modal")
                      %i.glyphicon.glyphicon-hand-left
                      取消

          .modal.fade(id="delete_questions#{question.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
            .modal-dialog
              .modal-content
                =form_tag("/question_manage/delete_question?question_id=#{question.id}",:method=>'post',:class=>"form-horizontal") do
                  .modal-header
                    %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times
                    %h4(class="modal-title" id="myModalLabel") 删除
                  .modal-body
                    %h3.center 确定要删除该考题吗？
                  .modal-footer
                    %button.btn.btn-danger.btn-lg(type="submit")
                      %i.glyphicon.glyphicon-trash
                      确定
                    %a.btn.btn-default.btn-lg(data-dismiss="modal")
                      %i.glyphicon.glyphicon-hand-left
                      取消

=will_paginate @questions , :previous_label => '上一页' , :next_label => '下一页', renderer: BootstrapPagination::Rails

:javascript
  function select_section(dom, subject_section){
      var subject_name = $("."+dom+" #subject_id option:selected").text();
      $("."+dom+" #section").empty().append("<option></option>");
      $(subject_section).each(function(index,el){
          if(el[0]==subject_name){
              $(el[1]).each(function(index,el){
                  $("."+dom+" #section").append("<option>"+el+"</option>");
              })
          }
      })
  }