.container
  .row
    .col-lg-3
      %blockquote
        %h3.timer
          剩余时间
          %strong#exam_time
          %h5#time_tip(class="#{@current_time.to_i==0 ? '' : 'hide'}" style="color:red" )
            考试时间到，请尽快提交考卷!

    .col-lg-3.pull-right
      %blockquote
        %h3
          Question
          %strong#finish_question= @current_exam_question_index
          of
          %strong= @exam_questions_count

  %hr
  .title
    %span#question_number= @current_exam_question_index.to_s + "."
    %span= @current_exam_question.question
  .option
    -@current_exam_question.sat_answer_banks.each do |answer|
      .radio
        %label.label-gray.label-unselect
          %input(type="radio" name="radio" value="#{answer.id}" onclick="select_question(this)")= answer.tag+". "+answer.answer
  .switch
    =form_tag('/homes/start_exam',:method=>'post',:class=>"form-horizontal", :id=>"select_exam_question") do
      #hide_date.hide
      #hide_subject.hide
      %input.hide(id="examer_id" name="examer_id" value="#{@examer_id}" )
      %input.hide(name="exam_time" value="#{@exam_time}" )
      %input.hide(name="question_id" value="#{@current_exam_question.id}")
      %input.hide(name="next" id="next")
      %input.hide(name="prev" id="prev")
      -unless @is_first_question
        %a.btn.btn-primary.btn-sm(href="#" onclick="fetch_question('prev')")
          %i.glyphicon.glyphicon-hand-left
          上一题
      -unless @is_last_question
        %a.btn.btn-primary.btn-sm(href="#" onclick="fetch_question('next')" )
          下一题
          %i.glyphicon.glyphicon-hand-right
      -if @is_last_question
        %a.btn.btn-success.btn-sm(href="#" onclick="submit_exam_question()" )
          %i.glyphicon.glyphicon-floppy-open
          提&nbsp&nbsp&nbsp交

:javascript
  $(function(){
      judge_have_answer("#{@current_exam_question.id}")
      var exam_time = "#{@current_time.to_i}"
      $("#exam_time").text(format_exam_time(exam_time))
      var second = 0;
      setInterval(function(){update_exam_time(exam_time, second); second += 1},1000);
  });

  function fetch_question(prev_next){
    $("#prev").val(" ")
    $("#next").val(" ")
    $("#"+prev_next).val(true)
    var date_ids = #{@date_ids}
    var subject_ids = #{@subject_ids}
    $(date_ids).each(function(index, el){
      $("#hide_date").append("<input name='date[]' value="+el+" />")
    })
    $(subject_ids).each(function(index, el){
      $("#hide_subject").append("<input name='subject[]' value="+el+" />")
    })
    save_select_answer("#{@current_exam_question.id}")
    $("#select_exam_question").submit();
  }

  function submit_exam_question(){
    save_select_answer("#{@current_exam_question.id}")
    post_answer_to_back("#{@start_time}")
  }
